<h1><%= fa_icon "unlock-alt", text: "Log In" %></h1>

<%= render 'form'%>

<p>Don't have an account? Sign up <%= link_to "here!", "/users/new" %></p>
<%= link_to "Forgot Password", new_password_reset_path %>