<h1><%= fa_icon "user-plus", text: "Sign Up" %></h1>

<%= render 'form', user: User.new %>

<p>Already have an account? Sign in <span class="text-blue"><%= link_to "here!", "/sessions/new" %></span></p>