<div class="row">
  <% if @user.id == current_user.id %>
    <div class="col-md-2 justify-content-start">
      <div>
        <ul>
          <li><%= fa_icon "envelope", text: "Messages" %></li>
          <li>Your Activity</li>
          <li>Your Matches</li>
          <li>Your Organizations</li>
          <li>Your Badges</li>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="col-md-10 justify-content-center">
    <div class="card">
      <h5 class="card-header"><%= @user.email %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= @user.first_name + " " + @user.last_name%></h5>
        <br>
        <% if @user.id == current_user.id %>
          <%= render partial: "home" %>
        <% end %>
      </div>
    </div>
  </div>

</div>