<div class="card">
  <h5 class="card-header"><%= @user.email %></h5>
  <div class="card-body">
      <h5 class="card-title"><%= @user.first_name + " " + @user.last_name%></h5>
    <br>
    <a href="/" class="btn btn-primary mt-2">Back to Home</a>
  </div>
</div>