<div class="row">
  <% if @user.id == current_user.id %>
    <div class="col-md-2 justify-content-start">
      <%= render partial: "sidemenu" %>
    </div>
  <% end %>
  <div class="col-md-10 justify-content-center">
    <% valid_partials = ["home", "match", "activity", "message"] %>
    <% if params[:section] == nil || !valid_partials.include?(params[:section]) %>
      <%= render partial: "home"%>
    <% else %>
      <%= render partial: params[:section] %>
    <% end %>
  </div>
</div>