<div class="row">
  <% if @user.id == current_user.id %>
    <div class="col-md-2 justify-content-start">
      <%= render partial: "sidemenu" %>
    </div>
  <% end %>
  <div class="col-md-10 justify-content-center">
    <% last = request.path.split('/').last%>
    <% if last == "match" %>
      <% if @user.id == current_user.id %>
        <%= render partial: "match" %>
      <% end %>
    <% elsif last == "activity" %>
      <% if @user.id == current_user.id %>
        <%= render partial: "activity" %>
      <% end %>
    <% else %>
      <%= render partial: "home" %>
    <% end %>
    
    
  </div>
</div>