<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sana</h1>
    <p class="lead">Sana comes from the verb sanar in Spanish, which means healing. We firmly believe that serving our communities has healing powers on an individual and collective level.</p>
    <hr>
    <p>Sana will be a platform where users and organizations alike can create profiles and match with people based on what their needs are and what they can provide. A user or organization can make a post about the type of help they would like to offer up, or about the type of help they require, and people can match with each other and begin messaging to facilitate whatever transaction of services they’re looking for. A user or organization would be able to make either a stand-alone post or a post in a larger forum, and the help or services that people would request or offer up would be from a wide variety of topics, ranging from providing financial guidance to providing someone with unofficial support on a matter of their choosing.</p>
  </div>
</div>