<div class="container">
  <div class ="d-flex justify-content-between align-content-center flex-wrap">
    <div class="w-50">
      <div class ="banner title">
        <h1>Sana</h1>
      </div>
      <div class="banner text1">
       For solidary and strong communities
      <br>
      Receive help for free! 
      </div>
      <hr>
      <br>
      <div class="txt">
        A platform where users and organizations alike can create profiles and match with people based on what their needs are and what they can provide.
      </div>
      <br>
      <br>
      <a class="banner-button" href="#scroll-target" role="button"> Learn more </a>
    </div>
    <div class= "w-50">
      <%= image_tag("connection.svg", size: "400x400") %>
    </div>
  </div>
  <br>
  <br>
  <hr>
  <!--
  <div class="row">
    <div class="col-lg-12 subtitle"> 
      <h1>How the Magic Happens </h1>
    </div>
    <div class="col-lg-12"> 
      <div class="col-sm card">
        <div class= "card-image">
              Text text text
        </div>
        <div class="card-body">
          <p>Text for image 1</p>
        </div>
      </div>
      <div class="col-sm card">
        <div class= "card-image">

        </div>
        <div class="card-body">
          <p>Text for image 1</p>
        </div>
      </div>
    </div>
  </div>
</div>
--->
<div class="containter">
<hr>
<hr>
<div class="heading subtitle">Our Story</div>
<br>
<div id="scroll-target">
<div class="container">
<p>Sana comes from the verb sanar in Spanish, which means healing. We firmly believe that serving our communities has healing powers on an individual and collective level.</p>
<p>Sana will be a platform where users and organizations alike can create profiles and match with people based on what their needs are and what they can provide. A user or organization can make a post about the type of help they would like to offer up, or about the type of help they require, and people can match with each other and begin messaging to facilitate whatever transaction of services they’re looking for. A user or organization would be able to make either a stand-alone post or a post in a larger forum, and the help or services that people would request or offer up would be from a wide variety of topics, ranging from providing financial guidance to providing someone with unofficial support on a matter of their choosing</p>
</div>
</div>
</div>