<h1 class="d-inline"><%= fa_icon "handshake-o", text: "Match" %></h1>
<h5 class="text-muted">Swipe left or right to deny or begin a match with a user!</h5>
<div class="d-flex justify-content-center" data-controller="match">
  <%= render 'card', post: Post.all.sample %>
</div>