<h1>Posts</h1>

<table class="table">
    <thead>
        <tr>
        <th>Content</th>
        <th>Date</th>
        <th colspan="2"></th>
        </tr>
    </thead>

    <tbody>
        <% @posts.each do |post| %>
        <tr>
            <td><%= post.content %></td>
            <td><%= to_datetime_string(post.date) %></td>
            <td><%= link_to 'Show', post %></td>
        </tr>
        <% end %>
    </tbody>
</table>