/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require rails_bootstrap_forms
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 */

nav {
    margin-bottom: 2%; 
}

body { 
    padding-bottom: 70px; 
}

.heading {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; 
    font-size: 2.5rem; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 1.2; 
}

.text-blue {
    color: #2287aa !important;
}

.btn-white-background {
    background-color: white;
}

.navbar-custom{
    background-color:#2287aa;
}

.navbar-brand {
    color:white !important;
    font-size: 18px !important; 
    font: "Raleway" !important;
}
.navbar-brand:hover{
    color: #104355 !important;
}
.dropdown-item.active, .dropdown-item:active{
    background-color:  #104355 !important;
}