// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul {
    padding: 0;
    
}

li {
    list-style-type: none;
    color: white;
}

li:hover {
    list-style-type: none;
    color: #104355;
}
.col-sm-2 {
    background-color: #2287aa;
    padding-top: 15px;
    color: white;
}

.btn, .btn-primary, .mt-2 {
    color: white;
    background-color: #5c4c8c !important;
    border: solid #5c4c8c !important;
    font: "Raleway" !important;
}

.btn-fb {
    background-color: #2287aa !important;
    border: solid #2287aa !important;
    font: "Raleway" !important;
}

.btn-googl {
    background-color: #1e8d27 !important;
    border: solid #1e8d27 !important;
    font: "Raleway" !important;
}

.btn-primary:hover{
    background-color:#433373 !important;
    border: solid #433373 !important;
}
.mt-2 :hover {
    color: white;
    background-color: #2287aa !important;
    border: solid #2287aa !important;
}

