<div class="card mb-5">
  <h5 class="card-header">
    <strong class="float-left">
        
      <%= @organization.name %>
    </strong>
    <small class="float-right"><%= to_datetime_string(@organization.created_at)%></small>
  </h5>
  <div class="card-body">
    <%= @organization.location %>
  </div>
</div>